html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: $dark-primary;
}

p {
    margin: 0;
    font-size: $fz-sm;
}

a {
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}