$theme-primary: #145DA0;
$dark-primary: #0C2D48;
$light-primary: #2E8BC0;
$alt-primary: #B1D4E0;
$red: #C32200;
$light-red: #FFC9C9;

$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 18px;
$fz-lg: 20px;
$fz-xl: 26px;