.field {
    width: 100%;
    @include flex(flex-start, flex-start, true, 5px);
    p {
        font-size: $fz-md;
        color: $light-primary;
        font-weight: bold;
    }
    input {
        width: calc(100% - 10px);
        height: 25px;
        border-radius: 7px;
        border: 1px solid $light-primary;
        padding-left: 5px;

    }
    textarea {
        width: calc(100% - 10px);
        height: 75px;
        border-radius: 7px;
        border: 1px solid $light-primary;
        padding-left: 5px;
    }
    &__file {
        width: calc(100% - 10px);
        height: 29px;
        border-radius: 7px;
        border: 1px solid $light-primary;
        position: relative;
        @include flex(flex-start, center, false, 0px);
        padding-left: 5px;
        input {
            display: none;
        }
        button {
            position: absolute;
            right: -1px;
            top: -1px;
            height: 31px;
            font-size: $fz-sm;
            padding: 0 11px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}