.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
    padding: 20px;
    gap: 10px;
    border: solid 1px $alt-primary;
    border-radius: 5px;
    box-shadow: 5px 10px 8px $light-primary;
    cursor: pointer;
    &:hover {
        p, span {
            color: $light-primary !important;
        }
        img {
            opacity: 0.8;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    &__description {
        padding: 15px;
        @include flex(flex-start, flex-start, true, 15px);
        position: relative;
        color: $dark-primary;
        p {
            &:first-child {
                font-size: 20px;
                color: $theme-primary;
                font-weight: bold;
            }
            &:last-child {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 20px;
                color: $theme-primary;
                font-weight: bold;
            }
        }
    }
}